<div class="container">
  <div *ngIf="rooms" class="row">
    <div class="col-md-12">
      <div class='d-flex justify-content-between align-items-center mb-3'>
        <h1>Rooms</h1>
        <a [routerLink]="['/rooms', 'add']" class="btn btn-success">+</a>
      </div>
      <table class="table table-striped border text-center">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Number of beds</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let room of rooms.rooms">
            <td>{{room.id}}</td>
            <td>{{room.name}}</td>
            <td>{{room.bedsNumber}}</td>
            <td>
              <a [routerLink]="['/rooms', room.id, 'edit']" class="btn">Edit</a>
              <a [routerLink]="['/rooms', room.id, 'details']"
                class="btn">Details</a>
              <button class="btn" (click)="onDelete(room.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>